.btn {
  --btn-width: 10rem;

  padding: var(--spacing-sm) var(--spacing-base);
  background-color: var(--brand);
  color: var(--light);
  border-radius: var(--size);
  border: 0.125rem solid var(--brand);
  min-width: var(--btn-width);
  transition: all 0.2s linear;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: var(--brand);
  background-color: var(--light);
}

.btn:focus {
  outline: var(--brand-dark) solid 0.2rem;
}

.btn:active {
  transform: scale(0.85);
}

.btn__text {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear 1s;
}

.btn__spinner {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear, visibility 0s 1s;
}

.btn--loading .btn__text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear, visibility 0s linear 1s;
}

.btn--loading .btn__spinner {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear 1s;
}
