.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  list-style: none;
  margin: var(--spacing-base) 0;
  padding: 0;
  max-width: 47.25rem;

  & .cards__card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand);
    color: var(--light);
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--size);
    transition: filter 0.2s linear;

    &:hover {
      filter: blur(0);
    }
  }

  &:has(.cards__card:hover) .cards__card:not(:hover) {
    filter: blur(2px);
  }
}
