.dashboard {
  display: flex;

  & .dashboard__sidebar {
    width: 500px;
    background-color: pink;
  }
}

.box {
  flex-shrink: 0;
  background-color: red;
  min-height: 6.25rem;
  container-type: size;
  container-name: boxContainer;
}

@container boxContainer (min-width: 576px) {
  .box {
    & .box__title {
      font-size: 3rem;
    }
  }
}

// @media screen and (min-width: 576px) {
//   .box {
//     background-color: green;

//     & .box__title {
//       font-size: 3rem;
//     }
//   }
// }
