.card {
  background-color: var(--light);
  border-radius: var(--radius-base);
  overflow: hidden;

  & .card__image {
    aspect-ratio: 1;
    object-fit: cover;
  }

  & .card__inner {
    padding: var(--spacing-sm);

    & .card__description {
      font-size: var(--font-sm);
    }
  }
}
