:root {
  --width: 36rem;
  --size: 5rem;

  --spacing-xs: 0.5rem;
  --spacing-sm: 0.85rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --primary-color: hsl(300, 100%, 15%);
  --secondary-color: hsl(190, 100%, 62%);

  --light: hsl(0, 0%, 91%);
  --dark: hsl(0, 0%, 10%);
}
