:root {
  --spacing-base: 1rem;

  --light-color: hsl(0, 0%, 100%);
  --primary-color: hsl(197, 100%, 90%);
  --secondary-color: hsl(240, 100%, 27%);
}

.btn {
  padding: var(--spacing-base);
  background-color: var(--primary-color);
  border-radius: var(--spacing-base);
  outline: none;
  border: none;
  transition: color 0.25s linear, background-color 2s linear;
}

.btn:hover {
  transition: all 0.5s linear;
  background-color: var(--secondary-color);
  color: var(--light-color);
}
